#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;    
}

.lista-sugestoes {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;  
  width: 100%;
}

.lista-sugestoes li {
  padding: 8px;
  cursor: pointer;
}

.lista-sugestoes li:hover {
  background-color: #eee;
}

.card {
  padding: 2em;
  background: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 9.5px );
}
